.wrapper {

	margin: $centrado;
	width: 1200px;


}

.textCar, .textData {

	width: 350px;
	height: 400px; 
	float: left;
	padding-right: 33px;
	
}

.textData {
   padding-left: 30px;


}
.main, .header {

	width: 1200px;
	margin: $centrado;
	
}


.imgInfo {
	
	width: 385px;

}

.textHelmet {

	float: right;
}


#lista {

	position: absolute;
	display: $display;
	top: 85px;
	float: right;

	

}

#lista li {

	display: inline-block;
	position: relative;
	left: 480px;
	color: white;
	margin: 10px;
	

}



#lista a {

   color: white;
   text-decoration: none;

}

.operative {

     background-color: white;
     width: 300px;
     height: 180px;
     position: absolute;
     top: 300px;
     left: 1080px;
     font-size: 15px;
     padding: 10px;
}

.operative h3 {
	color: #6DC4FE;
	padding-bottom: 3px;

}

.operative h4 {
	font-weight: bold;
}

.sidebar h3 {
	padding: 10px;
}

.sidebar p {
	padding-bottom: 3px; 
}
