//featur-area
.content {
   color: white;
   line-height: 1.87em;
img {
	width: 50%;
}
.who-we-are {
	height: 44.56em;
	float: right;
	background-color: #664735;
	width: 50%;

		div {
			width: 31.56em;
			margin: 0 auto;
			padding: 7.68em;

			
			
			
}
		button {
		     width: 6em;
		     height: 2.37em;
		     border-radius: 0.313em;
		     background-color: #edebea;
		     font-size: 0.875em;
		     margin-top: 1.500em;
		     border: none;
     

}
}
		a{
			color: #664735;
			font-weight: bold;
		}
}

.space-gallery {
    margin: 0 auto;
    text-align: center;
    color:  #c4c3c4;
    margin: 8.625em 0;


h3 {
	color: #9d9c9d;
}
}

.gallery {
	width: 50%;
	margin: 0 auto;
	img {
		width: 25.000em;
		height: 12.500em;
	}
}