//service area
.first-content {

  color: #a3a2a3;
  margin: 0 auto;

div {
	width: 16%;
	height: 11.250em;
	position: relative;
	float: left;
	margin: 8.000em 10.000em;
	text-align: center;
	padding-top: 0.750em; 
	line-height: 1.188em;
	

}

h3 {
   font-size: 1.438em;
   position: center;
}
a {
	color: #664735;
	font-weight: bold;
	font-size: 0.938em;
}

}