* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserratlight';
}


.wrapper {

	width: 1200px;
	margin: 0 auto;

}


//fonts
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/monserrat-light/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/monserrat-light/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

//header 

header {


	a:hover {

			color: black;
		}
	background: url(../img/an_01.jpg);
	height: 850px;
	hr {

		width: 1200px;
	}
	nav {
		margin: 20px;
		float: right;

		a {
			margin: 30px;
			color: white;
			font-size: 14px;
			font-family: 'montserratlight';
			text-decoration: none;

		

		}
	}
}

//section quienes somos
.quienes-somos {
      
      color: #d0d0d0;
      
	  text-align: center;
	
	h3{
		font-size: 50px;

	}



	p {

		margin: 39px;
	}
	div{

		background-color:black; 
		width: 400px;
		height: 844px;

		div {
			
			padding-top: 230px;
			
			img {
				width: 30px;
				height: 40px;
				margin: 0 auto;
				position: absolute;
			}

		}
		

	}

	img {

		
		float: right;
		width: 800px;
		height: 844px;

	}

}

//section menu 

.menu {
	background: url(../img/background-menu.png);
	height: 750px;
	text-align: center;

	div {
		padding: 80px; ;
	}
	h3 {
		font-size: 20px;
	}
}

//eventos

.eventos{

	color: #d0d0d0;
      
	text-align: center;

	button {

		border: 1px solid #d0d0d0;
		background: none;
		width: 200px;
		height: 60px;
		font-size: 20px;
		margin: 50px;
		color: #d0d0d0;
		transition: 0.05s ease-in;
	}

	button:hover{
		border: 1px solid black;
		background-color: black;
		transition: 0.80s ease-in;
		
	}
	
	h3{
		font-size: 30px;

	}



	p , li {

		margin: 20px;
		font-size: 15px;
	}
	div{

		background-color:black; 
		background: url(../img/an_05.jpg);
		width: 400px;
		height: 844px;

		div {
			
			padding-top: 230px;
			
			img {
				width: 30px;
				height: 40px;
				margin: 0 auto;
				position: absolute;
			}

		}
		

	}

	img {

		
		float: right;
		width: 800px;
		height: 844px;

	}

}

//section ubicación

.ubicacion {
	position: absolute;
	margin: 0 auto;
	background-color:black;
	width: 200px;
	color: white;
	text-align: center; 
}

.direction {
	display: inline-block;	
	
}


.santaAna, .tresRios {


	background-color: black;
	width: 600px;
	color: #d0d0d0;
	text-align: center;
	float: left;
	height: 750px;
	
	p {
		 margin: 20px;
		 font-size: 15px;
	}
}

.tresRios {
	
	float: right;
}























